<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <div class="table-container">
      <table id="customers">
        <div class="title-list-user">List User</div>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th> 
          
        </tr>
        <tr>
          <td><%= listUser.id %></td>
          <td><%= listUser.email %></td>
          <td>France</td>
          <td>France</td>
          <td>
          <button>Edit</button>
          <button>delete</button>
        </td>
        </tr>
      </table>
    </div>
  </body>
</html>
